/* RESETS */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "WorkSans";
  src: url(/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

:root {
  /* COLORS */
  --clr-neutral-300: hsl(292, 16%, 49%);
  --clr-neutral-200: hsl(275, 100%, 97%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-accent: hsl(292, 42%, 14%);
}

/* GENERAL */

a:link,
a:visited,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

body {
  font-family: "WorkSans", sans-serif;
  font-size: 16px;
  background-color: rgb(41, 32, 32);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-page {
  background: url(/assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-color: var(--clr-neutral-200);
  width: 23.4375rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  background-color: var(--clr-neutral-100);
  max-width: 20.4375rem;
  border-radius: 10px;
  padding: 1.5rem;
  margin-top: 9rem;
  margin-bottom: 4rem;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.header-container .icon-container {
  width: 24px;
  height: 24px;
}

.header {
  color: var(--clr-accent);
}

.accordion-panel {
  margin-top: 1.5rem;
}

.question {
  list-style: none;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  display: flex;
  cursor: url(/handcursor.svg), auto;
}

.question::after {
  content: url(/assets/images/icon-plus.svg);
}

details[open] .question::after {
  content: url("/assets/images/icon-minus.svg");
}

.answer {
  font-weight: 350;
  font-size: 14px;
  line-height: 150%;
  color: var(--clr-neutral-300);
  margin-top: 1.5rem;
}

.line {
  display: inline-block;
  width: 100%;
  height: 0.1rem;
  opacity: 0.2;
  color: red;
  background-color: var(--clr-neutral-300);
  margin-block: 1.05rem;
}

@media (min-width: 968px) {
  body {
    display: block;
  }

  .faq-page {
    background: url(/assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--clr-neutral-200);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
  }

  .container {
    min-width: 600px;
    padding: 40px;
  }

  .header-container .icon-container {
    width: 40px;
    height: 40px;
  }

  .header {
    color: var(--clr-accent);
    font-size: 56px;
  }

  .accordion-panel {
    margin-top: 32px;
  }

  .question {
    font-size: 18px;
  }
  .answer {
    font-size: 16px;
  }

  .line {
    margin-block: 1.15rem;
  }
}
